// Place all the styles related to the updloads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dropzone{
    border: 2px dashed #cccccc !important;
    color: #cccccc;
    font-size: 3em;
}
.img-show{
    width: 300px;
    border-radius: 10px;
}